<div class="create-container panel panel-default panel-body">
  <div class="text-center">
   <div class="head-edit"> Edit Category</div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" *ngIf="error">
        <p> {{error}} </p>
      </div>
    </div>
  </div>

  <div class="row" style="padding: 25px 25px 0px 25px;">
    <div class="col-md-12">
      <div class="form-group">
        <label for="title" class="title-edit">Title <span class="text-danger">*</span></label>
        <input id="title"
          type="text"
          class="form-control"
          style="font-size: 14px"
          [(ngModel)]="category.title"
          name="title"
          required />
        <div *ngIf="this.isTitleValid == false" class="text-danger" style="padding-top: 10px;">
          Title is required
        </div>
      </div>

      <div class="form-group">
        <label for=title>Banner Image </label>
        <img *ngIf="category.bannerImageUrl && isNewBannerImageSelected == false" [src]='(category.bannerImageUrl ) ' class="img-rounded col-md-12" id="bannerImageUrl" style="display: block; width: 300px;" />
        <div style="width: 300px;">
          <app-crop-image-category (croppedImage)="croppedCover($event)" (uploadImage)="uploadCover($event)"
          (newBannerImageSelected)="newBannerImageSelected($event)" [isImageExist]="isCoverExist" (deleteImage) = "deleteCover()"
          [previousImage]="category.bannerImageUrl"></app-crop-image-category>
        </div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <div class="create-buttons row footer-edit">
      <div class="col-md-3 col-sm-12 btn-container">
        <button class="btn btn-block btn-lg btn-cancel" (click)="closeButton()">Cancel</button>
      </div>
      <div class="col-md-3 col-sm-12 btn-container">
        <button class="btn btn-block btn-lg btn-edit" (click)="editCategory()">Save</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.showLoader" id="page-loader" class="fade show" style="opacity: 0.5;"><span class="spinner"></span>
</div>