<div class="create-container panel panel-default panel-body">
    <div class="row">
        <div class="col-md-12">
            <h3>{{news.title}}</h3>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="image image-author" style="width: 40px;height: 40px;">
              <img class="ng-tns-c2-0 img-style" style="width: 40px;height: 40px;" src="{{ news.modifiedByImageUrl }}">
            </div>
        </div>
        <div style="padding-top: 10px; padding-left: 10px;">
            <h3>{{news.modifiedBy}}</h3>
        </div>
    </div>
    <div class="row" *ngIf="news.bannerImageUrl" style="padding-bottom: 15px;">
        <div class="col-md-12 text-center">
            <img class="ng-tns-c2-0 banner-img" src="{{ news.bannerImageUrl }}" style="width: 100%;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class=" overflow-hidden" [innerHTML]="news.contentHtml | safeHtml"></div>
        </div>
    </div>
</div>
