<div class="login-container panel panel-default panel-body">
    <div class="text-center"><h2> Register user</h2></div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="error">
                <p> {{error}} </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form #registrationForm="ngForm" (ngSubmit)="submitRegistration(registrationForm)">
                <div class="form-group">
                    <label for=firstName>First Name <span class="text-danger">*</span></label>
                    <input id="firstName"
                            type="text"
                            class="form-control"
                            ngModel
                            name="firstName"
                            required/>
                </div>
                <div class="form-group">
                    <label for=lastName>Last Name <span class="text-danger">*</span></label>
                    <input id="lastName"
                            type="text"
                            class="form-control"
                            ngModel
                            name="lastName"
                            required/>
                </div>
                <div class="form-group">
                    <label for=phone>Phone Number</label>
                    <input id="phone"
                            type="text"
                            class="form-control"
                            ngModel
                            name="phone"
                            />
                </div>
                <div class="form-group">
                    <label for=email>Email <span class="text-danger">*</span></label>
                    <input id="email"
                            type="email"
                            class="form-control"
                            ngModel
                            name="email"
                            required
                            email/>
                </div>
                <div class="form-group">
                    <label for=password>Password</label>
                    <input id="password"
                           type="password"
                           class="form-control"
                           ngModel
                           name="password"
                           required>
                </div>
                <div class="form-group">
                    <label for=confirmPassword>Confirm Password</label>
                    <input id="confirmPassword"
                           type="password"
                           class="form-control"
                           ngModel
                           name="confirmPassword"
                           required>
                </div>
                <div class="checkbox checkbox-css m-b-30">
                </div>
                <div class="register-buttons">
                  <button class="btn btn-primary btn-block btn-lg" [disabled]="!registrationForm.valid">Sign Up</button>
                </div>
                <div class="m-t-30 m-b-30 p-b-30">
                  Already a member? Click <a routerLink="/login">here</a> to login.
                </div>  
            </form>
        </div>
    </div>
</div>
