.color-catalina-blue {
    color: #083b6f;
}

.color-malibu {
    color: #53cdf9;
}

.validerror {
    color: rgb(255, 0, 0);
    font-size: 13px;
}

.default-text {
    font-size: 14px;
    text-align: center;
}

.auth-head{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

@media (max-width:575.98px){
    .brand-background {
        background-color: #d9e0e7;
    }
}
