<!-- <section id="wrapper">
  <div class="switch-login-block login-register">
      <div class="login row" id="login">

          <div class="col-lg-4 col-xs-12 col-md-5 content">

              <form class="form-material" [formGroup]="form" #f="ngForm" (ngSubmit)="resetPassword(f.value)">
                  <h2>Change password</h2>
                  <div>
                      <div class="form-group col-xs-12" >
                          <label class="black-font">New password</label>
                          <label  class="form-control-label"></label>
                          <input class="form-control"
                                 type="password"
                                 placeholder="New password"
                                 name="NewPassword"
                                 ngModel
                                 formControlName="NewPassword">
                      </div>
                      <div class="form-group col-xs-12" >

                          <label class="black-font">
                              Confirm password
                          </label>

                          <label  class="form-control-label">

                          </label>

                              <input class="form-control"
                                 type="password"
                                 placeholder="Confirm password"
                                 name="ConfirmPassword"
                                 ngModel
                                 formControlName="ConfirmPassword">
                      </div>
                  </div>


                  <div class="form-group text-center m-t-20">
                      <div class="col-xs-12">
                          <button type="submit" class="waves-effect waves-light" [disabled]="form.invalid">
                              Change password
                          </button>
                      </div>
                  </div>
                  <div class="form-group m-b-0">
                      <div class="col-sm-12 text-center">
                          <p>
                              Or you can
                              <a [routerLink]="['/login']" class="text-info m-l-5 m-r-5">
                                  <b>Login</b>
                              </a>
                              or
                              <a [routerLink]="['/register']" class="text-info m-l-5 m-r-5">
                                  <b>Create account</b>
                              </a>
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section> -->

<!-- begin login -->
<!-- begin login -->
<div class="login login-v1">
    <!-- begin login-container -->
<div class="login-container"> 
    <div class="card">
        <div class="card-body p-30">
                <div class="text-center m-b-30">
                    <img src="https://queallyprod.blob.core.windows.net/media/queally_logo.png"/>
                </div>
                    <form class="margin-bottom-0" [formGroup]="form" #f="ngForm" *ngIf = "!isResetPassword"   (ngSubmit)="resetPassword(f.value)">
                        <h2 class="text-center">Change password</h2>
                        <label class="black-font">New password</label>
                        <div  class="form-group m-b-20" >
                        
                            
                        <label  class="validerror"  *ngIf="!form.controls['NewPassword'].valid &&  form.controls['NewPassword']?.hasError('required') && form.controls['NewPassword']?.touched" >
                            New password is required
                        </label>

                        <label  class="validerror" *ngIf="!form.controls['NewPassword'].valid &&  form.controls['NewPassword']?.hasError('minlength') && form.controls['NewPassword']?.touched" >
                            Enter Valid New Password (from 6 characters)
                        </label>

                        <label  class="validerror" *ngIf="!form.controls['NewPassword'].valid && form.controls['NewPassword']?.hasError('pattern') && form.controls['NewPassword']?.touched" >
                            New Password must contain a number,special characters, small and large letters
                        </label>
                        
                            <input  id="password" 
                                type="password"
                                class="form-control form-control-lg inverse-mode"
                                placeholder="New password"
                                name="NewPassword"
                                ng-model="NewPassword"
                                formControlName="NewPassword"
                                required/>
                        </div>

                        <label class="black-font">Confirm password</label>

                        <div class="form-group m-b-20" >

                            <label  class="validerror"  *ngIf="!form.controls['ConfirmPassword'].valid &&  form.controls['ConfirmPassword']?.hasError('required') && form.controls['ConfirmPassword']?.touched" >
                                Confirm Password is required
                            </label>
    
                            <label  class="validerror" *ngIf="!form.controls['ConfirmPassword'].valid &&  form.controls['ConfirmPassword']?.hasError('minlength') && form.controls['ConfirmPassword']?.touched" >
                                Enter Valid Confirm Password (from 6 characters)
                            </label>
    
                            <label  class="validerror" *ngIf="!form.controls['ConfirmPassword'].valid && form.controls['ConfirmPassword']?.hasError('pattern') && form.controls['ConfirmPassword']?.touched" >
                                Confirm Password must contain a number,special characters, small and large letters
                            </label>

                            <label  class="validerror" *ngIf="dontMatchPassword && form.controls['ConfirmPassword']?.touched" >
                                The new password and confirmation password do not match
                            </label>

                            <input class="form-control form-control-lg inverse-mode"
                                type="password"
                                placeholder="Confirm password"
                                name="ConfirmPassword"
                                ng-model="ConfirmPassword"
                                formControlName="ConfirmPassword"
                                required/>
                            </div>

                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                            <button type="submit"  class="btn btn-success btn-block btn-lg" (click)= "validateForm()">
                                Change password
                                <!-- <spinner *ngIf="isLoaded"></spinner> -->
                            </button>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                            <p> Or you can
                                <a [routerLink]="['/login']" class="text-info m-l-5 m-r-5">
                                    <b>Login</b>
                                </a>
                            <!-- or
                            <a [routerLink]="['/register']" class="text-info m-l-5 m-r-5">
                                <b>Create account</b>
                            </a> -->
                            </p>
                    </div>
                </div>
            </form>
            <div class="forgot-success" *ngIf = "isConfirmation">
                <div class="auth-head">
                 Reset passsword confirmation
                </div>
                <p class="default-text">Your password has been reset. Please <a [routerLink]="['/login']">
                    click here to log in
                </a> </p>
            </div>

        </div>
    </div>
</div>
  
