<div class="create-container panel panel-default panel-body">
    <div class="text-center"><h3> Create User</h3></div>
    <div class="row">
      <div class="col-md-12">
        <label for="firstName">First Name </label>
        <div class="form-group">
          <label *ngIf="form.controls['firstName']?.hasError('required') && form.controls['firstName']?.touched" class="validerror"> 
            First Name Required 
          </label>
          <input id="firstName"
                 type="text"
                 class="form-control"
                 [(ngModel)]="user.firstName"
                 name="firstName"
                 required />
        </div>
        <label for="lastName">Last Name </label>
        <div class="form-group">
          <label *ngIf="form.controls['lastName']?.hasError('required') && form.controls['lastName']?.touched" class="validerror"> 
            Last Name Required 
          </label>
          <input id="lastName"
                 type="text"
                 class="form-control"
                 [(ngModel)]="user.lastName"
                 name="lastName"
                 required />
        </div>
        <div class="form-group">
          <label for="phone">Phone Number </label>
          <input id="phone"
                 type="text"
                 class="form-control"
                 [(ngModel)]="user.phone"
                 name="phone"
                 required />
        </div>
        <label for="email">Email </label>
        <div class="form-group">
          <label *ngIf="form.controls['email']?.hasError('required') && form.controls['email']?.touched" class="validerror"> 
            Email Required 
          </label>
          <input id="email"
                 type="email"
                 class="form-control"
                 autocomplete="off"
                 [(ngModel)]="user.email"
                 required />
        </div>
        <div class="form-group">
          <div class="checkbox-css">
            <label for="createPasswordAutomatically">Create Password Automatically </label>
            <input style="margin-left: 10px;"
                  id="isActive"
                   name="isActive"
                   type="checkbox"
                   (change)="isCreatePasswordAutomatically($event)"
                   [(ngModel)]="user.createPasswordAutomatically"
                   [ngModelOptions]="{standalone: true}" />
          </div>
        </div>
        <label for="password">Password </label>
        <div class="form-group">
          <label *ngIf="form.controls['password']?.hasError('required') && form.controls['password']?.touched" class="validerror"> 
            Password Required 
          </label>
          <input id="password"
                 [disabled]="isCreatePasswordAutomaticallySelected"
                 type="password"
                 class="form-control"
                 autocomplete="off"
                 [(ngModel)]="user.password"/>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password </label>
          <input id="confirmPassword"
                 [disabled]="isCreatePasswordAutomaticallySelected"
                 type="password"
                 autocomplete="off"
                 class="form-control"
                 [(ngModel)]="user.confirmPassword"
                 name="confirmPassword" />
        </div>
        <div class="form-group">
          <div class="checkbox-css">
            <label for="isActive">Is Active </label>
            <input style="margin-left: 10px;"
                  id="isActive"
                   name="isActive"
                   type="checkbox"
                   [(ngModel)]="user.isActive"
                   [ngModelOptions]="{standalone: true}" />
          </div>
        </div>
        <!-- <div class="form-group row">
          <div class="col-md-3">
            <label for="userRole" >User Role </label>
                <select class="form-control form-control-sm" 
                        name="userRole"
                        [(ngModel)]="user.role"
                        (change)="isNewRoleSelected($event)">
                <option value="User" selected>User</option>
                <option *ngIf="userRole == 'System Admin'" value="System Admin">System Admin</option>
          </select>
          </div>
        </div> -->
        <div class="form-group">
          <div class="checkbox-css">
            <label for="userRole">System Admin</label>
            <input style="margin-left: 10px;"
                  id="userRole"
                   name="userRole"
                   type="checkbox"
                   [(ngModel)]="isRoleAdmin"
                   (change)="isNewRoleSelected($event)"
                   [ngModelOptions]="{standalone: true}" />
          </div>
        </div>
        <div class="form-group">
          <div class="form-group row m-b-15">
         <label class="col-form-label col-md-3">Company</label>
         <div class="col-md-9">
           <select [(ngModel)]="user.companyId"  class="form-control"  required>
            <option value="" disabled selected>Select Company</option>
             <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
           </select>
         </div>
       </div>
 </div>    
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="form-group">
              <div class="pull-right" style="padding-left: 10px;">
                  <button class="btn btn-primary btn-block btn-lg" (click)="saveButton()">Save</button>
              </div>
              <div class="pull-right">
                  <button class="btn btn-default btn-block btn-lg" (click)="cancelButton()">Cancel</button>
                </div>
            </div>
        </div>
        
    </div>
  
  </div>
  <div *ngIf="this.showLoader" id="page-loader" class="fade show" style="opacity: 0.5;"><span class="spinner"></span></div>