<panel>
    <ng-container header>
      <div class="panel-title-dashboard" >Dashboard</div>
    </ng-container>
    <!-- <div class="row">
      <div class="col-lg-2 col-md-3 col-xxl-1">
        <div class="page-header">Statistic</div>
      </div>
      <div class="col-lg-2 col-md-3">
        <select class="form-control form-select" style="border-style: none; background-color: #fafafa; font-size: 15px; "
                        name="period"
                        [(ngModel)]="period"
                        (change)="newPeriodSelected($event)">>
          <option value="1">Today</option>
          <option value="2" >Week</option>
          <option value="3" selected>Month</option>
          <option value="4">Year</option>
        </select>
      </div>
      
      <div class="col-lg-2 col-md-3 col-xxl-1">
        <h2 class="page-header">Companies</h2>
      </div>
      <div class="col-lg-2 col-md-3"  style="width: 100px;">
        <select class="form-control form-select" (change)="newCompanySelected($event.target.value)" style="border-style: none; background-color: #fafafa; font-size: 15px; ">
          <option  value="">All</option>
          <option *ngFor="let company of companies" [ngValue]="company.id"  value="{{ company.id }}" >{{ company.name }}</option>
        </select>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 ">
      <div class="section-header">Users</div>
      </div>
  
      <div class="col-md-4 section-left"> 
        <div class="chart-header">Installed apps</div>
        <div class="periods-data" *ngIf = "!isYear"> {{ filter.dateFrom |date:'MMMM dd' }} - {{ filter.dateTo | date:'MMMM dd' }} </div>
        <div class="periods-data" *ngIf = "isYear" > {{ filter.dateFrom |date:'MMMM dd yyyy' }} - {{ filter.dateTo | date:'MMMM dd yyyy ' }} </div>
        <div class="quantity">{{ installedAppsTotal }}</div>
        <div class="total-page" *ngIf = "!diffInstalledApps">Total action on page <span> - </span></div>
        <div class="total-page" *ngIf = "diffInstalledApps">Total action on page <span [ngClass] = "{'negative': diffInstalledApps < 0  , 'positive' : diffInstalledApps >= 0  }" >
          <i *ngIf = "diffInstalledApps >= 0" class="fa fa-angle-up" aria-hidden="true"></i> 
          <i *ngIf= "diffInstalledApps < 0" class="fa fa-angle-down" aria-hidden="true"></i>
          {{ diffInstalledApps }} %</span> </div>
        <div class="chart-area-container">
          <ngx-charts-area-chart [scheme]="colorSchemeUsers" [results]="installedApps"></ngx-charts-area-chart>
        </div>
      </div>

      <div class="col-md-4 section-center"> 
        <div class="chart-header">New users</div>
        <div class="periods-data" *ngIf = "!isYear"> {{ filter.dateFrom |date:'MMMM dd' }} - {{ filter.dateTo | date:'MMMM dd' }} </div>
        <div class="periods-data" *ngIf = "isYear" > {{ filter.dateFrom |date:'MMMM dd yyyy' }} - {{ filter.dateTo | date:'MMMM dd yyyy ' }} </div>
         <div class="quantity">{{ newUserTotal }}</div>
         <div class="total-page" *ngIf = "!diffNewUser"  >Total action on page <span> - </span></div>
        <div class="total-page" *ngIf ="diffNewUser" >Total action on page <span [ngClass] = "{'negative': diffNewUser < 0  , 'positive' : diffNewUser >= 0  }" >
          <i *ngIf= "diffNewUser < 0" class="fa fa-angle-down" aria-hidden="true"></i>
          <i *ngIf = "diffNewUser >= 0" class="fa fa-angle-up" aria-hidden="true"></i> 
          {{ diffNewUser }} %</span> </div>
        <div class="chart-area-container">
          <ngx-charts-bar-vertical [scheme]="colorSchemeUsers" [results]="newUser"></ngx-charts-bar-vertical>
        </div>
      </div>
    
      <div class="col-md-4 section-right"> 
        <div class="chart-header">Active users</div>
        <div class="periods-data" *ngIf = "!isYear"> {{ filter.dateFrom |date:'MMMM dd' }} - {{ filter.dateTo | date:'MMMM dd' }} </div>
        <div class="periods-data" *ngIf = "isYear" > {{ filter.dateFrom |date:'MMMM dd yyyy' }} - {{ filter.dateTo | date:'MMMM dd yyyy ' }} </div>
         <div class="quantity">{{ activeUsersTotal }}</div>
         <div class="total-page" *ngIf = "!diffActiveUsers">Total action on page <span> - </span></div>
         <div class="total-page" *ngIf = "diffActiveUsers">Total action on page <span [ngClass] = "{'negative': diffActiveUsers < 0  , 'positive' : diffActiveUsers >= 0  }" >
          <i *ngIf = "diffActiveUsers >= 0" class="fa fa-angle-up" aria-hidden="true"></i> 
          <i *ngIf= "diffActiveUsers < 0" class="fa fa-angle-down" aria-hidden="true"></i> 
          {{ diffActiveUsers }} %</span> </div>
        <div class="chart-area-container">
          <ngx-charts-area-chart [scheme]="colorSchemeUsers"  [results]="activeUsers"></ngx-charts-area-chart>
        </div>
      </div>
    </div>
    
    
     <div class="row">
      <div class="col-md-12 ">
        <div class="section-header">Popular</div>
      </div>
    
      <div class="col-md-4 section-left"> 
        <div class="chart-header">Most popular section</div>
        <div class="periods-data" *ngIf = "!isYear"> {{ filter.dateFrom |date:'MMMM dd' }} - {{ filter.dateTo | date:'MMMM dd' }} </div>
        <div class="periods-data" *ngIf = "isYear" > {{ filter.dateFrom |date:'MMMM dd yyyy' }} - {{ filter.dateTo | date:'MMMM dd yyyy ' }} </div> 
        <div class="quantity">{{ popularSectionTotal }}</div>
        <div class="total-page" *ngIf = "!diffPopularSection">Total action on page <span> - </span></div>
        <div class="total-page" *ngIf = "diffPopularSection">Total action on page <span [ngClass] = "{'negative': diffPopularSection < 0  , 'positive' : diffPopularSection >= 0  }" >
          <i *ngIf = "diffPopularSection >= 0" class="fa fa-angle-up" aria-hidden="true"></i> 
          <i *ngIf= "diffPopularSection < 0" class="fa fa-angle-down" aria-hidden="true"></i>
          {{ diffPopularSection }} %</span> </div>
        <div class="chart-container">
          <ngx-charts-pie-chart [scheme]="colorSchemePopular" [legend]="showLegend" [legendPosition]="legendPosition" [results]="popularSection"></ngx-charts-pie-chart>
        </div>
      </div>
    
      <div class="col-md-4 section-center"> 
        <div class="chart-header">Most popular news</div>
        <div class="periods-data" *ngIf = "!isYear"> {{ filter.dateFrom |date:'MMMM dd' }} - {{ filter.dateTo | date:'MMMM dd' }} </div>
        <div class="periods-data" *ngIf = "isYear" > {{ filter.dateFrom |date:'MMMM dd yyyy' }} - {{ filter.dateTo | date:'MMMM dd yyyy ' }} </div>
         <div class="quantity">{{ popularNewsTotal }}</div>
         <div class="total-page" *ngIf = "!diffPopularNews">Total action on page <span> - </span></div>
         <div class="total-page" *ngIf = "diffPopularNews">Total action on page <span [ngClass] = "{'negative': diffPopularNews < 0  , 'positive' : diffPopularNews >= 0  }" >
          <i *ngIf = "diffPopularNews >= 0" class="fa fa-angle-up" aria-hidden="true"></i> 
          <i *ngIf= "diffPopularNews < 0" class="fa fa-angle-down" aria-hidden="true"></i>
          {{ diffPopularNews }} %</span> </div>
        <div class="chart-container">
          <ngx-charts-pie-chart [scheme]="colorSchemePopular" [legend]="showLegend" [legendPosition]="legendPosition" [results]="popularNews" ></ngx-charts-pie-chart>
        </div>
      </div>
      
    
      <div class="col-md-4 section-right"> 
        <div class="chart-header">Most popular links</div>
        <div class="periods-data" *ngIf = "!isYear"> {{ filter.dateFrom |date:'MMMM dd' }} - {{ filter.dateTo | date:'MMMM dd' }} </div>
        <div class="periods-data" *ngIf = "isYear" > {{ filter.dateFrom |date:'MMMM dd yyyy' }} - {{ filter.dateTo | date:'MMMM dd yyyy ' }} </div>
        <div class="quantity">{{ popularLinksTotal }}</div>
        <div class="total-page" *ngIf = "!diffPopularLinks">Total action on page <span> - </span></div>
        <div class="total-page" *ngIf = "diffPopularLinks">Total action on page <span [ngClass] = "{'negative': diffPopularLinks < 0  , 'positive' : diffPopularLinks >= 0  }" >
          <i *ngIf = "diffPopularLinks >= 0" class="fa fa-angle-up" aria-hidden="true"></i> 
          <i *ngIf= "diffPopularLinks < 0" class="fa fa-angle-down" aria-hidden="true"></i>
          {{ diffPopularLinks }} %</span> </div>
        <div class="chart-container">
          <ngx-charts-pie-chart [scheme]="colorSchemePopular" [legend]="showLegend" [legendPosition]="legendPosition" [results]="popularLinks" ></ngx-charts-pie-chart>
        </div>
      </div>
    
      <div class="col-md-4 section-left">
        <div class="chart-header">Most popular documents</div>
        <div class="periods-data" *ngIf = "!isYear"> {{ filter.dateFrom |date:'MMMM dd' }} - {{ filter.dateTo | date:'MMMM dd' }} </div>
        <div class="periods-data" *ngIf = "isYear" > {{ filter.dateFrom |date:'MMMM dd yyyy' }} - {{ filter.dateTo | date:'MMMM dd yyyy ' }} </div>   
        <div class="quantity">{{ popularDocumentsTotal }}</div>
        <div class="total-page" *ngIf = "!diffPopularDocuments">Total action on page <span> - </span></div>
        <div class="total-page" *ngIf = "diffPopularDocuments">Total action on page <span [ngClass] = "{'negative': diffPopularDocuments < 0  , 'positive' : diffPopularDocuments >= 0  }" >
          <i *ngIf = "diffPopularDocuments >= 0" class="fa fa-angle-up" aria-hidden="true"></i> 
          <i *ngIf = "diffPopularDocuments < 0" class="fa fa-angle-down" aria-hidden="true"></i>
          {{ diffPopularDocuments }} %</span> </div>
        <div class="chart-container">
          <ngx-charts-pie-chart   [scheme]="colorSchemePopular" [legend]="showLegend"  [legendPosition]="legendPosition"  [results]="popularDocuments"></ngx-charts-pie-chart>
        </div>
       </div>
    </div>
    <div *ngIf="this.showLoader" id="page-loader" class="fade show" style="opacity: 0.5;"><span class="spinner"></span></div> -->
</panel>
