		<!-- begin panel -->
		<panel>
			<ng-container header>
				<h4 class="panel-title">Companies <span class="label label-success m-l-5 t-minus-1" (click)="createCompanyRedirect()" style="cursor: pointer;">NEW</span></h4>
			</ng-container>

      <!-- begin table-responsive -->
      <div class="table-responsive" *ngIf='companies'>
        <table class="table table-striped m-b-0">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Unique Code</th>
              <th>Sent notification</th>
              <th>Allow comments</th>
              <th>Allow emojis</th>
              <th>Is Deleted</th>
              <th width="1%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let company of companies'>
              <td>{{ company.id }}</td>
              <td>{{ company.name }}</td>
              <td>{{ company.uniqueCode }}</td>
              <td>{{ company.sentNotification }}</td>
              <td>{{ company.allowComments }}</td>
              <td>{{ company.allowEmojis }}</td>
              <td>{{ company.isDeleted }}</td>
              <td class="with-btn" nowrap>
                <a class="btn btn-sm btn-primary width-60 m-r-2" [routerLinkActive]="['link-active']" [routerLink]="['edit', company.id]">Edit</a>
                <a class="btn btn-sm btn-white width-60" (click)="deleteCompany(company)" >Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end table-responsive -->
		</panel>
		<!-- end panel -->
