.create-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-height: 300px;
    margin-top: 20px;
  }

.head-edit {
    border: 2px solid #d9e0e7;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    font-size: 25px;
    padding: 15px 0px 15px 0px;
    font-weight: bold;
    font-family: sans-serif;
  }

.footer-edit {
    border: 2px solid #d9e0e7;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    font-size: 25px;
    padding: 30px 20px 30px 0px;
    font-weight: bold;
    font-family: sans-serif;
  }

.title-edit {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }

.image-style {
    display: block;
    width: 700px;
    height: 400px;
    margin: auto;
  }

.multiselect-dropdown-list .multiselect-dropdown .dropdown-btn {
    display: inline-block !important;
    width: 100% !important;
    margin-bottom: 0 !important;
    padding: 12px 12px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.1 !important;
    border: 1px solid #cccccc!important;
    text-align: left !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-image: none !important;
    border-radius: 5px !important;
  }

  .multiselect-dropdown-list .multiselect-dropdown .dropdown-btn .selected-item {
    border: 1px solid #97ce8b !important;
    margin-right: 8px !important;
    height: 30px !important;
    background: #97ce8b !important;
    font-size: 14px;
    text-align: left;
    padding: 0px 10px !important;
    border-radius: 5px !important;
}

.multiselect-dropdown-list .multiselect-dropdown .dropdown-btn .selected-item a{
    padding-top: 2px;
    padding-left: 2px;
    color: white;
    font-size: 20px;
}

.multiselect-dropdown-list .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  line-height: 16px !important;
    display: block !important;
    position: absolute !important;
    box-sizing: border-box !important;
    width: 40px !important;
    height: 40px !important;
    right: 1px !important;
    top: 0 !important;
    padding: 4px 8px !important;
    margin: 0 !important;
    text-decoration: none !important;
    text-align: center !important;
    cursor: pointer !important;
    transition: transform .2s !important;
}

.multiselect-dropdown-list .multiselect-item-checkbox  input[type=checkbox]:checked + div:after 
{
  -webkit-animation: .2s ease-in borderscale !important;
    animation: .2s ease-in borderscale !important;
    background: #97ce8b !important;
}

.multiselect-dropdown-list .multiselect-item-checkbox  input[type=checkbox]:checked + div:before 
{
  -webkit-animation: .2s ease-in borderscale !important;
    animation: .2s ease-in borderscale !important;
    background: #97ce8b !important;
}

.multiselect-item-checkbox input[type=checkbox] + div:before {
  box-sizing: content-box!important;
  content: "";
  color: #97ce8b!important;
  position: absolute!important;
  top: 50% !important;
  left: 0 !important;
  width: 14px !important;
  height: 14px !important;
  margin-top: -9px !important;
  border: 2px solid #97ce8b!important;
  text-align: center !important;
  transition: .4s !important;
}

.btn-cancel {
  height: 50px;
  width: 170px;
  background-color: #ffffff;
  border: solid 1px #97ce8b;
  color: #97ce8b;
  text-align: center;
  font-weight: normal;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  margin-right: auto;
  font-size: 16px;
}

.btn-edit {
  background-color: #97ce8b;
  text-align: center;
  height: 50px;
  width: 180px;
  border: none;
  color: white;
  text-align: center;
  font-weight: normal;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0px;
}

.modal-header .close {
  padding: 15px 15px;
  margin: 0px;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1px 1px;
  border-bottom: 1px solid #d5dbe0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.btn-container {
  text-align: center;
  margin: 5px;
}