<div class="login login-v1">
    <div class="login-container">
      
      <div class="row">
          <div class="col-md-12">
              <div class="alert alert-danger" *ngIf="error">
                  <p> {{error}} </p>
              </div>
          </div>
      </div>

      <div class="card">
          <div class="card-body p-30">
              <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm)"  class="margin-bottom-0">
                  <div class="form-group m-b-20">
                      <input id="email"
                              type="email"
                              class="form-control form-control-lg"
                              placeholder="Email Address"
                              ngModel
                              name="email"
                              required
                              email/>
                  </div>
                  <div class="form-group m-b-20">
                      <input id="password"
                              type="password"
                              class="form-control form-control-lg"
                              placeholder="Password"
                              ngModel
                              name="password"
                              required>
                  </div>
                  <div class="m-b-20 pull-left pointer forgot-block" [routerLinkActive]="['link-active']" [routerLink]="['/registration']"> Registration</div>
                  <div class="m-b-20 pull-right pointer forgot-block" [routerLinkActive]="['link-active']" [routerLink]="['/forgot-password']"> Forgot Password ? </div>
                  <div class="login-buttons">
                      <button class="btn btn-success btn-block btn-lg" [disabled]="!loginForm.valid">Sign in</button>
                  </div>
              </form>
          </div>
      </div>
    </div>
</div>
<div *ngIf="this.showLoader" id="page-loader" class="fade show" style="opacity: 0.5;"><span class="spinner"></span></div>
