.login-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    min-height: 300px;
    /* margin-top: 6%; */
    padding: 10px 20px;
}

.color-catalina-blue {
    color: #083b6f;
}

.color-malibu {
    color: #53cdf9;
}

.forgot-block {
    color: #696969;
    cursor: pointer;
}

@media (max-width:575.98px){
    .brand-background {
        background-color: #d9e0e7;
    }

    .login-v1 {
        background: none;
    }
}