<!-- begin login -->
<div class="login login-v1">
    <!-- begin login-container -->
    <div class="login-container"> 

        <div class="card">
            <div class="card-body p-30">
                <div *ngIf="!isCodeGenerated && !isChangePasswordAllowed">

                    <div [formGroup]="emailForm" *ngIf="!isCodeGenerated && !isChangePasswordAllowed" >
                        <div class="form-group m-b-20" >

                            <label *ngIf="emailForm.controls['email']?.hasError('required') && emailForm.controls['email']?.touched" class="validerror"> 
                                Email Required 
                            </label>

                            <label *ngIf="emailForm.controls['email']?.hasError('pattern') &&  emailForm.controls['email']?.touched" class="validerror">
                                Please enter a valid username or email address
                            </label>

                            <input 
                                id="email"
                                type="email"
                                class="form-control form-control-lg inverse-mode"
                                placeholder="Email"
                                name="email"
                                formControlName="email"
                                [(ngModel)]="email"
                                required/>
                        </div>
                    </div>
        
                    <div *ngIf="isCodeGenerated && !isChangePasswordAllowed">
                        <div class="form-group m-b-20" >
                            <h4 class="text-center">Enter the code from email</h4>
                            <label  class="form-control-label"></label>
                            <input 
                                id="code"
                                type="text"
                                class="form-control form-control-lg inverse-mode"
                                placeholder="Code"
                                name="code"
                                [(ngModel)]="code"
                                required/>
                        </div>
                    </div>
        
                    <div *ngIf="isChangePasswordAllowed">
                        <div class="form-group m-b-20" >
                            <label class="black-font">New password</label>
                            <label  class="form-control-label"></label>
                            <input 
                                id="password"
                                type="password"
                                class="form-control form-control-lg inverse-mode"
                                placeholder="New password"
                                name="NewPassword"
                                [(ngModel)] = newPassword
                                required/>
                        </div>
        
                        <div class="form-group m-b-20" >
                        <label class="black-font">
                            Confirm password
                        </label>
                        <label  class="form-control-label"></label>
                            <input class="form-control form-control-lg inverse-mode"
                               type="password"
                               placeholder="Confirm password"
                               name="ConfirmPassword"
                               [(ngModel)] = confirmPassword
                               required>
                        </div>
                    </div>
                    <div *ngIf="!isValidPassword" >
                        <p class="wrong-password">Wrong password</p>
                        <span>
                            <p>
                                Password must contain:
                            </p>
                            <p>- more than 6 characters</p>
                            <p>- at least one digit</p>
                            <p>- at least one uppercase letter</p>
                            <p>- at least one lowercase letter</p>
                            <p>- at least one non alphanumeric character</p>
                        </span>
                    </div>
        
                    <div *ngIf="!isMatchPassword" class="has-error">
                        <p class="wrong-password">Passwords do not match</p>
                    </div>
        
                    <div class="login-buttons">
                            <button *ngIf="!isChangePasswordAllowed" [disabled]="emailForm.controls['email']?.invalid" class="btn btn-success btn-block btn-lg" (click)="submitEmail();clickIsEmailSent()">
                             Submit
                            </button>
                            <button *ngIf="isChangePasswordAllowed" class="btn btn-success btn-block btn-lg" (click)="submitChangePassword()">
                            Submit
                            </button>
                     </div>
        
                    <div class="form-group m-t-20">
                        <div class="m-t-20 text-center">
                            <p>
                             Or you can
                                <a [routerLink]="['/login']" class="text-info m-l-5 m-r-5">
                                 <b>Login</b>
                             </a>
                            <!-- or
                            <a [routerLink]="['/register']" class="text-info m-l-5 m-r-5">
                                <b>Create account</b>
                            </a> -->
                        </p>
                        </div>
                </div>
             </div>
             <div class="forgot-success" *ngIf="isEmailSent">
                    <div class="auth-head">
                        We just emailed you a link
                        <p class="default-text">Please check your email and click secure link.</p>
                    </div>
            
                    <button class="btn btn-success btn-block btn-lg btnblock" [routerLink]="['/forgot-password']" (click)="returnForgotPassword()" >Try another email</button>
            
                    <p class="col-m-t-15" style="text-align: center;">
                        If you don't see our email, check your spam folder
                     </p>
            </div>
         </div>
        </div>
    </div>
  </div>

  <div *ngIf="this.showLoader" id="page-loader" class="fade show" style="opacity: 0.5;"><span class="spinner"></span></div>