<div class="create-container panel panel-default panel-body">
    <div class="text-center">
      <div class="head-edit"> Create Link</div>
    </div>
    <div class="row" style="padding: 25px 25px 0px 25px;">
      <div class="col-md-12">
        <form [formGroup]="form" #f="ngForm">
  
          <div class="form-group">
            <label for=title class="title-edit ">Title <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="title"  required />
            <div *ngIf="(form.controls.title.invalid 
                    && (form.controls.title.dirty || form.controls.title.touched) 
                    && form.controls.title.errors != null 
                    && form.controls.title.errors.required)" class="text-danger"
              style="padding-top:10px">
              Title is required
            </div>
          </div>
        <div class="form-group">
            <label for=title class="title-edit ">Type Link <span class="text-danger">*</span></label>
            <select class="form-control form-select" style="border-style: none; background-color: #fafafa; font-size: 15px; "
            (change)="newTypeLinkSelected($event)">
              <option value="1" selected>Web Site</option>
              <option value="2" >YouTube Video</option>
              <option value="3" >PDF file</option>
            </select>
          </div>

          <div class="form-group">
            <label for=link class="title-edit ">Link <span class="text-danger">*</span></label>
            <input id="link" type="text" class="form-control"  [(ngModel)]="link.link" formControlName="link" required />
            <div *ngIf="(form.controls.title.invalid 
                    && (form.controls.title.dirty || form.controls.title.touched) 
                    && form.controls.title.errors != null 
                    && form.controls.title.errors.required)" class="text-danger"
              style="padding-top:10px">
              Link is required
            </div>
          </div>

          <div class="form-group" *ngIf="isPdfFile">
            <label for="file"><span class="btn btn-image">Choose PDF</span></label>
            <input type="file" style="display: none;" (change)="onFileSelected($event)" id="file" placeholder="Upload file" accept=".pdf">
          </div>   

          <div class="form-group">
            <label for=title class="title-edit ">Banner Image </label>
            <div style="width: 300px;">
              <app-crop-image-link (croppedImage)="croppedCover($event)" (uploadImage)="uploadCover($event)"></app-crop-image-link>
            </div>
          </div>
          <!-- <div class="form-group" *ngIf="isYouTube">
            <label for=title class="title-edit ">YouTube Video </label>
            <div style="width: 300px;">
              <iframe width="420" height="315"
              [src]="urlSafe">
              </iframe>
            </div>
          </div>   -->
            <div class="form-group">
              <div class="create-buttons row footer-edit">
                <div class="col-md-3 col-sm-12 btn-container">
                  <button class="btn btn-block btn-lg btn-cancel" (click)="closeButton()">Cancel</button>
                </div>
                <div class="col-md-3 col-sm-12 btn-container">
                  <button class="btn btn-edit  btn-block btn-lg "  (click)="createLink()">Save</button>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="this.showLoader" id="page-loader" class="fade show" style="opacity: 0.5;"><span class="spinner"></span>
  </div>