<div class="create-container panel panel-default panel-body" style="padding: 15px;">
  <div class="text-center"><h3> Settings</h3></div>
  <div class="row">
    <div class="col-md-12">

      <div class="form-group">
        <div class="checkbox-css">
          <label for="sentNotification">Sent notification </label>
          <input style="margin-left: 10px;"
                id="sentNotification"
                 name="sentNotification"
                 type="checkbox"
                 [(ngModel)]="model.sentNotification"
                 [ngModelOptions]="{standalone: true}" />
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox-css">
          <label for="allowComments">Allow comments </label>
          <input style="margin-left: 10px;"
                id="allowComments"
                 name="allowComments"
                 type="checkbox"
                 [(ngModel)]="model.allowComments"
                 [ngModelOptions]="{standalone: true}" />
        </div>

      </div>

      <div class="form-group">
        <div class="checkbox-css">
          <label for="allowEmojis">Allow emojis</label>
          <input style="margin-left: 10px;"
                id="allowEmojis"
                 name="allowEmojis"
                 type="checkbox"
                 [(ngModel)]="model.allowEmojis"
                 [ngModelOptions]="{standalone: true}" />
        </div>

      </div>

      <div class="form-group">
        <div class="checkbox-css">
          <label for="allowCategorySetting">Allow categories setting</label>
          <input style="margin-left: 10px;"
                id="allowCategorySetting"
                 name="allowCategorySetting"
                 type="checkbox"
                 [(ngModel)]="model.allowCategorySetting"
                 [ngModelOptions]="{standalone: true}" />
        </div>
      </div>

    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <div class="form-group">
            <div class="pull-right" style="padding-left: 10px;">
                <button class="btn btn-primary btn-block btn-lg" (click)="saveButton()">Save</button>
            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-block btn-lg" (click)="cancelButton()">Cancel</button>
              </div>
          </div>
      </div>

  </div>

</div>
