<!-- begin panel -->
<panel>
  <ng-container header>
    <h4 class="panel-title"> News</h4>

  </ng-container>
  <div class="row">
    <div class="col-md-2">
      <input class="form-control" placeholder="Search by Title.." [formControl]="searchByTitle" />
    </div>
    <!-- <div class="col-md-2 col-xs-12">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control filters" placeholder="Date" name="d2" #c2="ngModel" [(ngModel)]="date"
              ngbDatepicker #d2="ngbDatepicker" (ngModelChange)="onDateChange()">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div> -->
    <div class="col-md-2 col-xs-12">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control filters" placeholder="Date from" name="dateFrom1" #c3="ngModel"
              [(ngModel)]="dateFrom" ngbDatepicker #dateFrom1="ngbDatepicker" (ngModelChange)="onDateChange()">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="dateFrom1.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-2 col-xs-12">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control filters" placeholder="Date to" name="dateTo1" #c4="ngModel" [(ngModel)]="dateTo"
              ngbDatepicker #dateTo1="ngbDatepicker" (ngModelChange)="onDateChange()">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="dateTo1.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-2">
      <!-- <input class="form-control" placeholder="Search by Level..." [formControl]="searchByLevel"/> -->
      <select id="status" [formControl]="searchByLevel" class="form-control filters" placeholder="Type"
        style="width:100%;">
        <option value="" selected>Type</option>
        <option value="1">Draft</option>
        <option value="2">Published</option>
      </select>
    </div>
    <div class="col-md-2">
      <ng-multiselect-dropdown [placeholder]="'Category'" [data]="dropdownList" [(ngModel)]="selectedItems"
        [settings]="dropdownSettings" (ngModelChange)="onCategoryChange()">
      </ng-multiselect-dropdown>
    </div>
  </div>
  <hr style="border-bottom: 1px solid #c4c4c4">
  <!-- begin table-responsive -->
  <div class="table-responsive" style="overflow-x: hidden;" *ngIf='newses'>
    <div class="f-s-14 m-l-45" (click)="createNewsRedirect()" style="margin-left: 110px; cursor: pointer; width: 95px;">
      <b>Add New</b> <img src="../../../assets/img/svg/plus.svg" width="20px" style="margin-left: 10px; font-size: 18px;  ">
    </div>
    <table class="table table-striped m-b-0">
      <thead>
        <tr>
          <th></th>
          <th width="115px"></th>
          <th width="500px"></th>
          <th width="125px"></th>
          <th></th>
          <th></th>
          <th></th>
          <th width="280px"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-custom-style" *ngFor='let news of newses'>
          <td class="news-id">{{ news.id }}</td>
          <td class="avatar-block">
            <!-- <img
              [src]='(news.thumbnailImageUrl !== " ") ? (news.thumbnailImageUrl ) : "https://queallydev.blob.core.windows.net/media/defaultImage.png"'
               /> -->
            <img width="99px" height="65px" src="{{ news.thumbnailImageUrl ||'assets/img/default/landscape.png'}}">
          </td>
          <td>
            <div class="title f-s-13">
              <b>{{ news.title }}</b>
            </div>
            <div>
              <span *ngFor='let category of news.categoryList'>
                {{category.name}}
                <span *ngIf='news.categoryList.length > 1'>|</span>
              </span>
            </div>
          </td>
          <td></td>
          <td> {{ news.dateTime | date}}</td>
          <td>{{ news.level }}</td>
          <td class="category-width">
            <span *ngFor='let category of news.categoryList'>
              {{category.name}} |
            </span>
          </td>
          <td class="with-btn" nowrap>
            <a [routerLinkActive]="['link-active']" [routerLink]="['edit', news.id]"
              class="btn custom-btn edit-btn m-r-10">Edit</a>
            <a class="btn custom-btn archive-btn" (click)="deleteNews(news)">Archive</a>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-container footer>
      <hr />
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="length" [pageSize]="itemsPerPage"
        [(page)]="page" [maxSize]="5" [rotate]="false" (pageChange)="loadPage($event)" [boundaryLinks]="false">
        <ng-template class="page-arrow" ngbPaginationPrevious><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg> Prev</ng-template>
        <ng-template ngbPaginationNext class="page-arrow">Next <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg></ng-template>
        <ng-template ngbPaginationEllipsis>...</ng-template>
      </ngb-pagination>
    </ng-container>
  </div>
  <!-- end table-responsive -->
</panel>
<!-- end panel -->